<div class='col-md-3'>
<h1>User info</h1>
  <div class="text-success">
    <%= flash[:notice] %>
  </div>
  <div class="text-danger">
    <%= flash.now[:alt] %>
  </div>
  <table class='table'>
    <tbody>
      <tr><%= image_tag user.get_profile_image(100,100) %></tr>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
  </div>
  
  <div class="row">
    <%= form_with model: User.new do |f| %>
    <%= f.submit 'Create Book' %>
    <i class="fa-solid fa-gears"></i>
    <% end %>
  </div>
  
  <h1>New book</h1>

<%= form_with model: Book.new do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
	
  <h4>Opinion</h4>
  <%= f.text_area :body %><br>
	
  <%= f.submit 'Create Book' %>
<% end %>
